@import "tailwindcss";

@keyframes logo-cloud {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-50%));
    }
}

.animate-logo-cloud {
    animation: logo-cloud 30s linear infinite;
}